.App {
  text-align: center;
}

.main {
  height: 194px;
  left: 0px;
  top: 35px;
  background-color: rgb(120, 179, 219);
    background-image:
      linear-gradient(
        rgb(119, 189, 218), #ffffff
      );
}

.topnav { 
  color: #293041;
}

.topnav a.active {
  font-weight: bold;
  color: #293041; 
}

.link {
  text-decoration: none;
  color: #293041; 
}

.link:hover {
  font-weight: bold;
  color: #293041;
}