.balance {
font-size: x-large;
line-height: 15px;
border: 2px solid black;
font-weight: bolder;
}

.loan-info {
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-around;
  border: 2px solid black;
}

.card1 {
  border: 2px solid black;
}

.card2 {
  border: 2px solid black;
}

.card3 {
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  border: 2px solid black;
}

.graph {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-around;
  border: 2px solid black;
  height: 500px;
  width: 100px;
}