.balance {
font-size: x-large;
line-height: 15px;
border: 2px solid #293041;
font-weight: bolder;
color: #293041;
}

.loan-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-around;
  border: 2px solid #293041;
  color:#293041;
}

.card1 {
  border: 2px solid #293041;
  text-align: center;
}

.card2 {
  border: 2px solid #293041;
  text-align: center;
  
}
 
.card3 {
  display:flex;
  flex-direction:row;
  align-items: flex-start;
  border: 2px solid #293041
}

.graph {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:space-around;
  border: 2px solid #293041;
  height: 500px;
  width: 100px;
}

.balanceDes {
  border: 2px solid black;
  background-color: blue;
  color: white;
}

.interestDes {
  border: 2px solid black;
  background-color: red;
  color: white;
}

.principleDes {
  border: 2px solid black;
  background-color:lime;
  color: white;
}

.scenario-item {
  width: 450px;
}