.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2%;
    border: 2px solid black;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1%;
}